        /* #region reset format */
:root {
  --greyLight: #d6d6d6;
  --white: #f5f5f7;
  --text: #1d1d1f;
  --blueLight: #2997ff;
  --width: 20rem;
  --height: 10rem;
}

ul li {
  cursor: pointer;
  list-style: none;
}

.leftfix {
  float: left;
}

.rightfix {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}
        /* 为了让下拉菜单覆盖全屏，需要额外的 CSS */
        .fullscreen-dropdown {
          position: fixed;
          top: 56px;
          left: 0;
          width: 100vw;
          height: auto;
          overflow: auto;
          box-sizing: border-box;
          z-index: 1000;
          display: none;
          padding: 1rem;
        }

        .navbar-nav {
          justify-content: center;
          font-size: 0.8rem;
        }
        .navbar.sticky-top {
          top: 0;
          transition: top 0.3s ease-in-out;
      }
      
      .navbar.sticky-top.sticky {
          top: 0; /* 距离顶部的距离，根据需要调整 */
      }

        .navbar:hover .fullscreen-dropdown {
          display: block;
        }


        .dropdown-toggle::after {
          display: none;
        }

        .row .col:nth-child(1) a:not(:first-child) {
          font-weight: bold;
          font-size: larger;
        }

        .row .col:nth-child(2) a:not(:first-child),
        .row .col:nth-child(3) a:not(:first-child) {
          font-weight: bold;
        }

        .col a:first-child {
          color: #6c757d;
          pointer-events: none;
        }

        .search-input-group {
          margin-bottom: 1rem;
          /* 调整输入框组的底部间距 */
        }

        .search-button {
          display: none;
        }

        .search-input-wrapper {
          position: relative;
        }

        .search-icon {
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          color: #888;
        }

        .search-input {
          padding-left: 30px;
          /* 调整输入框的左内边距以留出图标的空间 */
        }

        /* 自定义样式：购物袋图标 */
        .shopping-bag {
          cursor: pointer;
          margin-left: 10px;
          z-index: 1000;
        }

        /* 自定义样式：购物袋下拉菜单 */
        .shopping-bag-dropdown {
          position: absolute;
          top: 100%;
          right: 0;
          width: 250px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-top: none;
          border-radius: 0 0 5px 5px;
          padding: 10px;
          display: none;
        }

        .shopping-bag-dropdown.open {
          display: block;
        }

        .shopping-bag-dropdown p {
          margin: 0;
        }

        /* 自定义样式：加粗放大文本 */
        .empty-bag {
          font-weight: bold;
          font-size: 1.2rem;
        }

        /* 自定义样式：购物袋下拉菜单内容对齐 */
        .shopping-bag-dropdown .dropdown-content {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        @media (max-width: 576px) {

          /* 自定义样式：汉堡菜单图标位置 */
          .navbar-toggler {
            order: 2;
          }

          /* 自定义样式：汉堡菜单下拉框位置 */
          .navbar-collapse {
            order: 3;
          }

          /* 自定义样式：导航栏链接 */
          .navbar-nav .nav-item {
            text-align: center;
          }

          /* 自定义样式：下拉菜单每行一个 */
          .dropdown-menu .dropdown-item {
            display: block;
          }

          /* 自定义样式：导航栏品牌图标和搜索图标 */
          .navbar-brand,
          .search-icon {
            display: inline-block;
            vertical-align: middle;
          }

          /* 自定义样式：购物袋图标 */
          .shopping-bag {
            margin: 0;
          }
        }

        .white {
          color: white;
        }

        .black {
          color: var(--text) !important;
        }

        /* #region information */
        .information {
          /* height: .8125rem; */
          height: auto;
          font-size: 13px;
          width: 100%;
          background: #fff;
          text-align: center;
          /* line-height: .875rem; */
          line-height: 0.475rem;
          margin-top: .875rem;
          /* word-wrap: break-word;
  overflow-wrap: break-word; */
          white-space: normal;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          padding: .15rem 1.1rem;

        }

        .information a:visited {
          color: rgb(99, 125, 201);
        }

        .information a:hover {
          text-decoration: underline;
        }
        /* #endregion information */

        /* #region top_title */
        .top_title {
          margin-top: 52px;
          color: white;
          text-align: center;
          z-index: 3;
        }

        .top_title h1 {
          font-size: 50px;
          font-weight: 549;
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: -.02rem;
        }

        .top_title h3 {
          margin-top: 2px;
          font-size: 20px;
          font-weight: 300;
        }

        .top_title h4 {
          font-size: 16px;
          font-weight: 31.25rem;
          letter-spacing: .1875rem;
          margin-bottom: 16px;
          color: #d01f2a;
        }

        .top_title-links {
          margin-top: 12px;
        }

        .top_title-links a {
          font-size: 20px;
          font-weight: 400;
          color: var(--blueLight);
        }

        .top_title-links a:nth-child(2) {
          margin-left: 30px;
        }

        .top_title-links a img {
          width: 12px;
        }

        .background {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 120%;
          background-size: cover;
          background-position: center;
          z-index: -1;
        }

        /* #endregion top_title */

        /* #region section1 and section2 style setting */
        .section1 {
          top: 1vh;
          height: 40vh;
          width: 100%;
          position: relative;
          overflow: hidden;
        }

        .section1 .background {
          top: -13%;
        }

        .section2 {
          height: 13rem;
          position: relative;
          width: 100%;
          height: 40vh;
          overflow: hidden;
          margin: .199rem 0;
        }

        .section2 .background {
          top: -13%;
        }

        /* #endregion section1 and section 2 style setting */

        /* #region section3 style setting */
        .section3 {
          max-width: 100%;
          height: 40vh;
          overflow: hidden;
          position: relative;
          background: #000;
          margin-bottom: .199rem;
        }

        .section3 .background {
          width: 20.5rem;
          height: 40vh;
          left: 50%;
          transform: translateX(-50%);
          /* z-index: 1; */
          background-image: url(./img/watch-2.jpg);
        }

        .section3 h1 {
          height: 1.4375rem;
          font-size: 38px;
          font-weight: 700;
          letter-spacing: .125rem;
        }

        .section3 h1 img {
          width: 1.4375rem;
        }

        .section3 h4 {
          margin-top: 2vh;
        }



        /* #endregion section3 style setting */
        /* #region section4 style setting */
        .section4 {
          width: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }

        .section4 .rows {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
        }

        .section4_items {
          height: 30vh;
          /* flex: 0.497; */
          flex: 1 0 50%;
          position: relative;
          overflow: hidden;
          display: flex;
          width: 100%;
          justify-content: center;
          background: #fbfbfb;
        }

        .section4_items h1 {
          font-size: 38px;
        }

        .section4_items h1 img {
          width: 30px;
        }

        .section4_items h3 {
          max-width: 280px;
          font-size: 16px;
          font-weight: 400;

        }

        .section4_items h4 {
          font-size: 12px;
          letter-spacing: normal;
          margin-bottom: 0;
        }

        .section4_items a {
          font-size: 17px;
        }

        .section4_items a img {
          width: 10px;
        }

        .section4_items .background {
          height: 100%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
        }

        .section4_items .subTitle {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
        }

        .section4_items .subTitle a {
          height: 20px;
          width: 110px;
          margin: auto;
          margin-top: 10px;
          color: #000;
          display: flex;
          align-items: center;
        }

        .section4_items .subTitle a img {
          width: 18px;
          margin-left: 5px;
        }

        /* #endregion section4 style setting */




        .carousel-control-next,
        .carousel-control-prev {
          visibility: hidden;
        }

        .carousel:hover .carousel-control-next,
        .carousel:hover .carousel-control-prev {
          visibility: visible;
        }

        .carousel-indicators {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 15;
          display: flex;
          justify-content: center;
          width: 100%;
          background: #fff;
          padding: 10px 0;
        }

        .carousel-indicators li {
          margin: 0 5px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #777;
        }

        .carousel-indicators .active {
          background-color: #000;
        }

        .navbar .btn {
          margin-top: 2.875rem;
          position: absolute;
          right: 3.125rem;
          z-index: 15;
        }

        .carousel-item {
          height: 400px;
          /* Default height for large screens */
        }

        .carousel-item img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }


        /* Adjust height for medium screens */
        @media (max-width: 992px) {
          .carousel-item {
            height: 350px;
          }
        }

        /* Adjust height for small screens */
        @media (max-width: 768px) {
          .carousel-item {
            height: 300px;
          }
        }

        /* Adjust height for extra small screens */
        @media (max-width: 576px) {
          .carousel-item {
            height: 250px;
          }
        }


        /* #region footer */
.footer {
  margin-top: 2.5rem;
  width: 100vw;
  background: var(--white);
  display: flex;
  justify-content: center;
}

.footer_wrapper {
  width: 100%;
}

.footer ul {
  font-size: 12px;
  list-style: none;
  color: rgba(155, 155, 156, 0.9215686275);
  border-bottom: 1px solid var(--greyLight);
  font-family: Arial, Helvetica, sans-serif;
}

.footer ul li {
  margin: .375rem 1rem;
  letter-spacing: 0.1px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
}

.footer_links {
  width: 100%;
  display: flex;
  padding: 0 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer_links-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.footer_links-column-title {
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer_links-column a {
  font-size: 12px;
  color: rgba(137, 137, 138, 0.9411764706);
  margin-bottom: 12px;
}

.footer_more {
  font-size: 13px;
  color: #86868b;
  padding-bottom: .12rem;
  margin-top: 1.25rem;

}

.footer_more a {
  color: #06c;
}

.footer_copyright .desktop-width {
  width: 100%;
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(134, 134, 139, 0.9333333333);
  /* margin-top: 0.225rem; */
  position: relative;
  padding: .205rem .625rem;
  padding-left: 0;
}

.footer_copyright .desktop-width a {
  font-size: 13px;
}
.footer_copyright .desktop-width p {
  font-size: 13px;
  margin-top: 2.5938rem;
}


.footer_copyright .desktop-width .cr_links {
  position: absolute;
  margin-top: 3.125rem;
  left: 60%;
  transform: translate(-60%, -60%);
}

.footer_copyright a {
  font-size: .225rem;
  padding: 0 .5rem;
  color: #89898b;
  border-left: .0225rem solid var(--greyLight);
}

.footer_copyright .cr_links a:nth-child(1) {
  border-left: none;
  
}

.footer_copyright a:first-of-type {
  margin-bottom: 1.875rem;
  border-left: none;
}
/* #endregion footer */

/* #region button style in carousel */
.stream-now-button {
  background-color: white;
  border: none;
  color: black;
  padding: .9375rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: .25rem .125rem;
  cursor: pointer;
  border-radius: 1.25rem; 
  transition: opacity 0.3s;
  position: relative;
  overflow: hidden;
}

.stream-now-button:hover {
  opacity: 0.7;
}
/* #endregion button style in carousel */

/* #region mobile-nav */
.mobile-nav {
  display: none;
}

.mobile-nav ul.mobile-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav ul.mobile-menu li {
  margin-left: 1.625rem;
}

.mobile-nav ul.mobile-menu li.first-li {
  margin-left: 0;
}

.mobile-nav .menu-toggle {
  margin-left: auto;
}
/* #endregion mobile-nav */

/* #region mobile_footer */
.mobile_footer_links .accordion-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  margin: .1rem 0;
  margin-left: 1rem;
  /* border-bottom: 1px solid rgba(137, 137, 138, 0.9411764706); */
  letter-spacing: 0.5px;
  color: rgba(137, 137, 138, 0.9411764706);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.mobile_footer_links .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.mobile_footer_links .accordion.active .accordion-content {
  max-height: 500px; 
}


.mobile_footer_links .accordion-content.active {
  display: block;
}

.mobile_footer_links .links-container a {
  display: block;
  font-size: 1rem;
  margin: .15rem 1.3rem;
  color: #89898b;
}

.mobile_footer_links .accordion-header .icon {
  margin-right: .5rem;
}

.mobile_footer_links .accordion {
  margin-top: 0.2rem;
}

.mobile_footer_links .accordion:not(:first-child) {
  border-top: 1px solid var(--greyLight);
  margin-top: 0.1rem;
  padding-top: 0.1rem;
}

.mobile_footer_links .accordion:last-child {
  border-bottom: 1px solid var(--greyLight);
  margin-bottom: 0.1rem;
  padding-bottom: 0.1rem;
}
/* #endregion mobile_footer */

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .information {
    padding: .3rem;
    font-size: 12px;
    line-height: 2rem;
    height: 2rem;
  }
  
  .section4_items {
    flex-basis: 100%;
  }

  .footer ul {
    font-size: 12px;
    list-style: none;
    color: rgba(155, 155, 156, 0.9215686275);
    border-bottom: 1px solid var(--greyLight);
    font-family: Arial, Helvetica, sans-serif;
  }

  .footer_wrapper {
    padding: 0 -1.625rem;
  }

  .footer_more {
    order: 2; 
    margin-left: .3rem;
    margin-top: .1rem;
    font-size: 1rem;
  }

  .footer_copyright .mobile-width {
    order: 3;
    display: table-row;
  }

.footer_copyright a {
  font-size: 1rem;
  padding-left: .27rem;
  color: #89898b;
}

.footer_copyright .mobile-width p {
  font-size: 1rem;
  margin: .3rem 0;
  position: relative;
  padding-left: .27rem;
  color: #89898b;
}

.footer_copyright .cr_links{
  top: 130%;
  width: 100%;
  margin-left: .2rem;

}

.footer_copyright .cr_links a {
  padding: 0 .5rem;
}

.footer_copyright .cr_links a:nth-child(1) {
  padding-left: 0;
}


  .footer_links {
    display: none;
  }

  .footer_copyright .desktop-width{
    display: none;
  }

  .mobile_footer_links {
    display: block;
  };

  .accordion-header {
    cursor: pointer;
  }

}

@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    justify-content: center;
    padding: 0.1rem 6.25rem;
  }
  .footer_more {
    border-bottom: .02rem solid var(--greyLight);
    
  }
  .footer_copyright .mobile-width{
    display: none;
  }

  .mobile_footer_links {
    display: none;
  }
}