
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .black{
    color: #000;
  }
  header {
    background-color: #fff;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .logo img {
    width: 50px;
    height: auto;
  }
  
  .menu {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .menu ul {
    display: flex;
    list-style: none;
    margin-left: auto;
  }
  
  .menu li {
    margin-right: 1rem;
  }
  
  .menu a {
    color: #000;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    text-decoration: none;
  }
  
  .signin button {
    background-color: transparent;
    color: #000;
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none !important;
  }
  
  .join-now {
    background-color: #000 !important;
    color: #fff !important;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .signin a {
    color: #000;
    text-decoration: none;
    /* line-height: 30px; */
  }
  
  .map-image {
    width: 30px;
    height: 30px;
    font-weight: bold;
    color: black;
    background-image: url(./img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.1rem;
  }
  
  .toggle {
    display: none;
  }
 
  .button {
    background-color: transparent;
    color: #000;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;

  }
  
  .button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .menu {
      display: flex;
      list-style: none;
      margin-right: auto;
    }
  
    .toggle {
      display: block;
      cursor: pointer;
    }
  
    .toggle span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #fff
    }
  }
  .social-icons {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
  }
  
  .social-icons li {
    margin-right: 1rem;
  }
  
  .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--text);
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  
  
  .social-icons a:hover {
    background-color: var(--text);
    color: #fff;
  }
  
  .social-icons i {
    font-size: 1.5rem;
  }

  
  .footer {
    width: 100%;
    height: 810px;
    background: var(--white);
    display: flex;
    justify-content: center;
    height: 540px;
  }
  .footer p {
    color: #888;
  }
  
  
  .footer_wrapper {
    width: 970px;
    margin-top: 40px;
  }
  
  .footer ul {
    font-size: 12px;
    list-style: none;
    color: rgba(155, 155, 156, 0.9215686275);
    border-bottom: 1px solid var(--greyLight);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer ul li {
    margin: 15px 0;
    letter-spacing: 0.1px;
  }
  
  .footer_links {
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(171, 169, 169, 0.991);
  border-bottom: 1px solid rgba(171, 169, 169, 0.991);
  }
  
  .footer_links-column {
    width: 200px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;

  }
  
  .footer_links-column-title {
    font-weight: 400;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    font-family: "Helvetica Rounded", Arial, sans-serif;
    text-decoration: none;
  }

  
  .footer_links-column a {
    font-size: 14px;
    margin-bottom: 10px;
    color: #777777;
    text-decoration: none;
    padding: 5px 10px;
  }
  

  .footer_copyright {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: rgba(134, 134, 139, 0.9333333333);
    margin-top: 4px;
    position: relative;
  }
  
  .footer_copyright .cr_links {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  
  .footer_copyright .cr_links a {
    font-size: 12px;
    padding: 0 5px;
    color: #89898b;
    border-left: 1px solid var(--greyLight);
  }
  
  .footer_copyright .cr_links a:nth-child(1) {
    border: none;
  }

  .legal-info {
    font-size: 12px;
    color: #777777;
    margin-top: 10px;
  }
  
  .legal-info a {
    color: #777777;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .legal-info a:hover {
    text-decoration: underline;
  }
  
  
  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .section4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .section4 .rows {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: nowrap;
  }
  
  .section4_items {
    height: 680px;
    position: relative;
    overflow: hidden;
    display: flex;
    width: 84%;
    justify-content: center;
    align-items: center;
    background: #fbfbfb;
    border: none;
  }
  
  .section4_items:nth-child(1) {
    margin-right: 10px;
  }
  .section4_items:first-child,
.section4_items:last-child {
  margin: 0;
}

  
  .section4_items .background {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .banner_text {
    margin-top: 52px;
    color: white;
    text-align: center;
    z-index: 3;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .banner_text h1 {
    font-size: 50px;
    font-weight: 549;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
  }
  
  .banner_text h3 {
    margin-top: 2px;
    font-size: 20px;
    font-weight: 300;
  }
  
  .banner_text h4 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 15px;
    color: #d01f2a;
  }
  
  .banner_text-links {
    margin-top: 12px;
  }
  
  .banner_text-links a {
    font-size: 20px;
    font-weight: 400;
    color: var(--blueLight);
  }
  
  .banner_text-links a:nth-child(2) {
    margin-left: 30px;
  }
  
  .banner_text-links a img {
    width: 12px;
  }
  
  