@media screen and (max-width: 768px) {

.mobile-nav .menu-button {
    position: fixed;
    top: 1.875rem;
    right: 20px;
    z-index: 9999;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .mobile-nav .submenu {
    position: absolute;
    top: 5.4rem;
    right: 0;
    width: 75%;
    height: 100vh;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: green;
    padding-left: 20px;
    display: none;
    z-index: 9998;
    padding-top: 1.5rem;
  }
  
  .mobile-nav .submenu.show {
    display: block;
    animation: slide-in 0.3s ease;
    z-index: 9998;
  }
  
  .mobile-nav .submenu a {
    display: block;
    padding: 10px 0;
    color: rgb(46, 45, 45);
    text-decoration: none;
  }
  
  .mobile-nav .submenu-level-3 {
    position: absolute;
    top: 5.4rem;
    right: 0;
    width: 75%;
    height: 100vh;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: red;
    padding-left: 20px;
    display: none;
    z-index: 9999;
    padding-top: 40px;
  }

  .mobile-nav .submenu-level-3 a{
    display: block;
    padding-top: 2.5rem;
    text-decoration: none;
  }

  .submenu-level-3 a:visited {
    color: #000;
  }
  
  
  .mobile-nav .submenu-level-3-header {
    position: fixed;
    top: 5.4rem;
    right: 0;
    width: 75%;
    height: 3.75rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    z-index: 9999;
  }

  .mobile-nav .submenu-level-3-header span {
    margin-left: 40%;
  }
  
  .mobile-nav .submenu-level-3.show {
    display: block;
    animation: slide-in 0.3s ease;
    z-index: 9999;
  }
  
  
  .mobile-nav .back-button {
    background: none;
    border: none;
    cursor: pointer;
        margin-left: 3%;
  }
  
  .mobile-nav .back-button i {
    color: black;

  }
  
  
  .mobile-nav .menu-button.active img {
    display: none;
  }
  
  .mobile-nav .menu-button.active::before {
    content: "X";
    font-family: "FontAwesome";
    font-size: 18px;
  }
  
  .mobile-nav {
    display: block;
  }

  .container .text, 
  .container .image{
    z-index: -10;
  }

  .mobile-nav .button-section {
    display: block;
  }

  .button-section {
    border-top: 1px solid #838080;
    margin-top: 1rem;
  }

  .button-section button{
    margin-top: 1rem;
  }

  .button-section:first-of-type button{
    border-radius: 1px solid #000;
  }


  .button-section .signin-button {
    background-color: transparent;
    color: #000;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none !important;
  }

  /* .submenu:first-of-type i {
    margin-left: 75%;
  } */
  


}