* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    min-height: 100vh;
    padding: 4vmin;
    background: linear-gradient(rgb(45, 153, 168), rgb(52, 67, 157));
    font-family: helvetica;
    color: white;
}

.wrapper {
    max-width: 1450px;
    margin: auto;
}

.location-search-bar {
    display: flex;
    justify-content: space-between;
}

.location-search-bar-left {
    display: flex;
    justify-content: space-between;
}

.location-search-city,
.location-search-submit {
    height: 3vmax;
    width: 12vmax;
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-size: 1vmax;
}

.location-search-city::placeholder {
    color: white;
    opacity: 0.7;
    font-size: 1vmax;
    line-height: 2vmax;
}

.location-search-submit {
    width: 8vmax;
    margin-left: 1vmin;
    outline: none;
    cursor: pointer;
}

.location-search-submit:active {
    border: 2px solid lightgray;
    color: lightgray;
    transform: scale(1.05);
}

.location-search-city::-webkit-inner-spin-button {
    display: none;
}

.zipcode-error-message {
    width: 12vmax;
    margin-left: 0.5vmin;
    font-size: 1.5vmax;
    text-align: center;
    line-height: 3.3vmax;
    font-weight: bold;
    color: lightcoral;
}

.location-search-my-location img {
    width: 2vmax;
    cursor: pointer;
}

.location-search-my-location img:active {
    opacity: 0.6;
    transform: scale(1.2);
}


.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5vmin;
}


.location {
    font-size: 6vmin;
}

.weather-summary {
    font-size: 2vmin;
    margin-top: 3vmin;
}

.temperature {
    font-size: 20vmin;
    /* margin-left: 20vmin; */
    cursor: pointer;
}

.weather-alert {
    font-size: 2.5vmin;
    margin-top: 20vmin;
    line-height: 4vmin;
}

.weather-hourly {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.weather-hourly::-webkit-scrollbar {
    display: none;
}


.weather-hourly-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vmin;
    margin: 20px;
    font-size: 4vmin;
}

.weather-hourly-icon {
    width: 10vmin;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.weather-daily {
    display: flex;
    flex-direction: column;
    margin-top: 3vmin;
}

.weather-daily-info {
    display: flex;
    justify-content: space-between;
    font-size: 3vmin;
    height: 5vmin;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
}

.weather-daily-day {
    width: 20%;
}

.weather-daily-icon {
    width: 10vmin;
}

.weather-daily-temperature-wrapper {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.weather-daily-hi-temperature,
.weather-daily-lo-temperature {
    width: 6vmin;
    text-align: center;
}